# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd

# OS
.DS_Store
Thumbs.db

# IDEs
.vs/
.vscode/
.idea/

# Build outputs
*.apk
*.aab
*.unitypackage